---
---
@charset "utf-8";

$green: rgb(142,222,142);
$red: rgb(225,70,88);
$blue: rgb(74,144,226);
$brand-color: rgb(81,163,182);
$separator-color: rgb(214,214,214);
$text-color: rgb(79,88,101);

@import "normalize";
@import "bourbon";
@import "neat";

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica Neue, Arial, Sans-Serif;
	color: $text-color;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
}

.statement {
	font-size: 2.4em;
	text-align: center;
	text-transform: uppercase;
}

.header {
	min-height: 650px;
	height: 100%;
	padding-top: 100px;
	position: relative;
	background-color: rgba(227,64,81,1);
	@include linear-gradient(top, rgba(228,65,81,1) 0%, rgba(239,37,46,1) 100%);

	.hire-us {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 1.9em;
		color: rgba(255,255,255,1);
		padding: 10px 16px;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
	}

	.logo {
	    display: block;
		margin: 0 auto;
		width: 310px;
		height: 310px;
	}

	.statement {
		margin-top: 60px;
		color: rgba(255,255,255,1);
	}

	.down {
		position: absolute;
		bottom: 50px;
		width: 100%;

		> img {
			display: block;
			margin: 0 auto;
		}
	}
}

.nav {
	margin: 0 auto;
	display: block;
	text-align: center;

	.button {
		display: inline-block;
		width: 150px;
		margin-right: 10px;
		border: 3px solid rgba(0,0,0,0);
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.4em;
		border-radius: 6px;
	}

	.button:last-child {
		margin-right: 0;
	}

	.red {
		border-color: $red;
		color: $red;
	}

	.green {
		border-color: $green;
		color: $green;
	}

	.blue {
		border-color: $blue;
		color: $blue;
	}
}

