---
---
@charset "utf-8";

// Breakpoints
$mobile: max-width 767px;
$tablet: min-width 768px max-width 991px;
$desktop: min-width 992px max-width 1199px;
$largedesktop: min-width 1200px;

// Colours
$brand-color: rgb(81,163,182);
$separator-color: rgb(214,214,214);
$dark-color: rgb(79,88,101);
$dark-link-color: darken($dark-color, 25);
$light-color: rgb(255,255,255);
$form-background: rgb(245,245,245);

@mixin brand-gradient() {
	background-color: rgba(227,64,81,1);
	@include linear-gradient(top, rgba(228,65,81,1) 0%, rgba(239,37,46,1) 100%);
}

// Libraries
@import "normalize";
@import "bourbon";
@import "neat";

// Our SCSS
@import "home";
@import "blog";
@import "page";
@import "clients";
@import "products";

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', Helvetica Neue, Arial, Sans-Serif;
	font-size: 1.1em;
	color: $dark-color;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
  color: $dark-link-color;
}

a:hover {
  color: lighten($dark-link-color, 20);
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin: 0;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	font-size: 2.6em;

  @include media($tablet) {
    font-size: 2em;
  }

  @include media($mobile) {
    font-size: 1.8em;
  }
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.4em;
}

.nav {
	display: block;
}

.button {
	display: inline-block;
	border: 2px solid $dark-color;
	border-radius: 6px;
	padding: 15px 20px;
	color: $dark-color;
}

.button:hover {
  border-color: darken($dark-color, 20);
  color: darken($dark-color, 20);
}

.light {
  border-color: transparentize($light-color, 0.2);
  color: transparentize($light-color, 0.14);
}

.light:hover {
  border-color: $light-color;
  color: $light-color;
}

.statement {
	text-align: center;
	text-transform: uppercase;
}

footer {
  @include span-columns(12 of 12);
  padding-top: 50px;
  display: block;
  @include brand-gradient;
  text-align: center;

  .links {
    @include span-columns(8 of 12);
    @include shift(2);
    color: $light-color;
    margin-bottom: 50px;

    @include media($tablet) {
      @include span-columns(12 of 12);
      @include shift(0);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
  }

  .column {
    @include omega(4n);
    margin-right: 50px;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;

    @include media($mobile) {
      @include omega(1n);
      @include span-columns(8 of 12);
      @include shift(2);
      text-align: center;
    }
  }

  .list {
    list-style-type: none;
    padding: 0;

    @include media($mobile) {
      margin-top: 7px;
    }

    li {
    	padding-bottom: 5px;
    }

    a {
      @extend .light;
    }
  }

  .copyright {
    @include span-columns(4 of 12);
    @include shift(4);
    text-align: center;
    color: white;
    margin-bottom: 25px;
  }
}

