---
layout: default
---

<div class="header">
	<a class="hire-us" href="#">Hire Us<a>
	<img class="logo" src="/images/add-jam-logo.png">
	<h1 class="statement">We create beautiful mobile products</h1>
	<a class="down">
		<img src="/images/down-arrow.png">
	</a>
</div>

<div class="our-team section">
	<h2>Our Team</h2>

	{% for person in site.data.team %}
	<div class="person">
		{% assign mod = forloop.index0 | modulo:2 %}
		{% if mod == 0 %} <img src="/images/{{ person.image }}"> {% endif %}
		<div class="description">
			<h3>{{ person.name }}</h3>
			<p>{{ person.description }}</p>
			<a class="social" href="http://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a>
			<a class="social" href="mailto:{{ person.email }}">{{ person.email }}</a>
		</div>
		{% unless mod == 0 %} <img src="/images/{{ person.image }}"> {% endunless %}
	</div>
	{% endfor %}
</div>
