---
layout: default
---

<div class="header">
	<a class="hire-us button light" href="{{ site.data.links.hire-us }}">Hire Us<a>
	<img class="logo" src="/images/add-jam-logo.png">
	<h1 class="statement">We create beautiful mobile products</h1>
	<a class="down" href="#team">
		<img src="/images/down-arrow.png">
	</a>
</div>

<div class="our-team">
	<div id="team" class="section">
		<h2>Our Team</h2>

		{% for person in site.data.team %}
		<div class="person">
			{% assign mod = forloop.index0 | modulo:2 %}
			{% if mod == 0 %} 
				<div class='image'>
					<img src="/images/{{ person.image }}">
				</div>
			{% endif %}
			<div class="description">
				<p class="name">{{ person.name }}</p>
				<p>{{ person.description }}</p>
				<span class="social">
					<img src="/images/twitter-icon.png">
					<a href="http://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a>
				</span>
				<span class="social">
					<img src="/images/email-icon.png">
					<a href="mailto:{{ person.email }}">{{ person.email }}</a>
				</span>
			</div>
			{% unless mod == 0 %} 
				<div class='image odd'>
					<img src="/images/{{ person.image }}">
				</div>
			{% endunless %}
		</div>
		{% endfor %}
	</div>
</div>

<div class="what-we-make">
	<div id="what-we-make" class="section">
		<h2>What We Make</h2>

		<p>
			With our highly skilled and capable team we develop products for mobile (and occasianally the web). We use a range of technologies such as Swift, Objective-C and Java to make the right product for the job.
		</p>

		<p>
			We also love contributing to the open source community. Feel free to use our projects in your work (we love hearing how) or feel free to submit a pull request.
		</p>

		<div class="nav">
			<a href="{{ site.data.links.products }}" class="button light">Products</a>
			<a href="{{ site.data.links.case-studies }}" class="button light">Client Case Studies</a>
			<a href="{{ site.data.links.github }}" class="button light">Open Source</a>
		</div>

		<img src="/images/ipad-iphone-icon.png">
	</div>
</div>

<div class="open-and-transparent">
	<div id="transparency" class="section">
		<h2>Open and Transparent</h2>

		<p>
			We believe in being as proud in your failures as much as you you would be your successes. Therefore we produly display the key metrics of our products for all to see.
		</p>

		<p>
			We also share our business journey on our blog. We have a lots to share from our view on business development, hiring and also technical pieces on how we structure our products and projects.
		</p>

		<div class="nav">
			<a href="{{ site.data.links.dashboard }}" class="button">Dashboard</a>
			<a href="{{ site.data.links.blog }}" class="button">Our Blog</a>
		</div>
	</div>
</div>