<footer class="footer">

	<div class="links">
		<div class="title">
			<b>PRODUCTS</b>
			<ul class="list">
				<li>Client Case Studies</li>
				<li>Our Creations</li>
				<li>Open Source</li>
			</ul>
		</div>
		<div class="title">
			<b>CONTENT</b>
			<ul class="list">
				<li>Dashboard</li>
				<li>Blog</li>
			</ul>
		</div>
		<div class="title">
			<b>PEOPLE</b>
			<ul class="list">
				<li>Chris</li>
				<li>Michael</li>
				<li>Join Us</li>
			</ul>
		</div>
		<div class="title">
			<b>CONTACT</b>
			<ul class="list">
				<li>Hire Us</li>
				<li>yo@addjam.com</li>
			</ul>
		</div>
	</div>
	<div class="name">
  {{ site.title }} &#169 {{site.time | date: "%Y"}}
  </div>
</footer>
