<footer class="footer">
	<div class="links">
		<div class="column">
			<h3>PRODUCTS</h3>
			<ul class="list">
				<li>Client Case Studies</li>
				<li>Our Creations</li>
				<li>Open Source</li>
			</ul>
		</div>
		<div class="column">
			<h3>CONTENT</h3>
			<ul class="list">
				<li>Dashboard</li>
				<li>Blog</li>
			</ul>
		</div>
		<div class="column">
			<h3>PEOPLE</h3>
			<ul class="list">
				<li>Chris</li>
				<li>Michael</li>
				<li>Join Us</li>
			</ul>
		</div>
		<div class="column">
			<h3>CONTACT</h3>
			<ul class="list">
				<li>Hire Us</li>
				<li>yo@addjam.com</li>
			</ul>
		</div>
	</div>
	<div class="copyright">
	 	{{ site.title }} &#169 {{site.time | date: "%Y"}}
  	</div>
</footer>

<!-- JS -->
<script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>