.subscribe {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;

    *::-webkit-input-placeholder {
        color: lighten($dark-color, 30);
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: lighten($dark-color, 30);
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: lighten($dark-color, 30);
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: lighten($dark-color, 30);
    }

    label {
        color: lighten($dark-color, 30);
        display: block;
        text-align: center;
    }

    input, button {
        height: 50px;
        padding: 0;
        margin: 0;
        font-size: 1.3em;
    }

    input {
        display: inline-block;
        width: 500px;
        border-width: 2px;
        border-color: $brand-color;
        border-style: solid;
        padding-left: 20px;
        border-radius: 5px 0 0 5px;
    }

    button {
        display: inline-block;
        width: 150px;
        background-color: $brand-color;
        color: $light-color;
        border-radius: 0 5px 5px 0;
        border-width: 2px;
        border-left-width: 0;
        border-color: $brand-color;
    }

    button:hover {
        color: $brand-color;
        background-color: $light-color;
        border-color: $brand-color;
        border-left-width: 0;
    }

    input:focus {
        outline-style:none;
        -webkit-box-shadow: inset 0 1px 1px lighten($brand-color, 20), 0 0 2px $brand-color;
          box-shadow: inset 0 1px 1px lighten($brand-color, 20), 0 0 2px $brand-color;
    }


    @include media($mobile) {
        width: 370px;

        input,  button {
            font-size: 1em;
        }

        input {
            width: 280px;
        }

        button {
            width: 90px;
        }
    }
}

.blog .header {
    @include span-columns(12 of 12);

    img {
        height: 200px;
        display: block;
        margin: 40px auto 20px auto;
    }
}

.blog .posts {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 50px;
    margin-bottom: 0;

    text-align: center;

    p {
        text-align: justify;
    }

    @include media($mobile) {
        @include span-columns(10 of 12);
        @include shift(1);
    }

    @include media($tablet) {
        @include span-columns(8 of 12);
        @include shift(2);
    }
}

.blog .summary:first-child {
    padding-top: 0;
}

.blog .summary:last-child {
    border-bottom: none;
}

.blog .summary {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $separator-color;
}

.blog .post {
    @include span-columns(12 of 12);
    margin-top: 20px;

    a {
        color: #ff5371;
    }

    p, ul, h2, h3, h4, h5, pre, div {
        display: block;
        margin: 20px auto;
    }

    h3, h4, h5 {
        width: 45%;

        @include media($tablet) {
            width: 70%;
        }

        @include media($mobile) {
            width: 80%;
        }
    }

    video {
        width: 100%;
        text-align: center;

        @include media($tablet) {
            width: 75%;
        }

        @include media($mobile) {
            width: 83.33%;
        }
    }

    p, ul, h2, pre {
        width: 50%;

        @include media($tablet) {
            width: 75%;
        }

        @include media($mobile) {
            width: 83.33%;
        }
    }

    h2 {
        margin-top: 50px;
    }

    .image {
      width: 60%;
      margin: 20px auto;

      img {
        max-width: 100%;
        margin: 0 auto;
      }
    }

    .date, .author {
        text-align: center;
        width: 100%;
    }

    .author {
        margin-bottom: 10px;
    }

    pre {
        background-color: #333;
        padding: 10px;
    }

    p > code {
        background-color: rgba(255, 53, 71, 0.1);
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 1px;
    }
}

.blog .blog-footer {
    @include span-columns(6 of 12);
    @include shift(3);

    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $separator-color;

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include shift(0);
    }

    @include media($tablet) {
        @include span-columns(8 of 12);
        @include shift(2);
    }

    .subscribe {
      margin-top: 0;
    }
}

.blog .footer {
  background-color: $light-color;
  background-image: none;

  .copyright, .links {
    color: $dark-color;
  }

  .list a {
    @extend .dark;
  }
}

.date {
    color: lighten($dark-color, 30);
}

.empty {
    text-align: center;
}

.relatedPosts {
  h2 {
    padding-top: 40px;
    border-top: 1px solid $separator-color;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    margin: 10px 0;

    p {
      width: 100% !important;
      border-left: 5px solid $separator-color;
      padding-left: 20px;
    }
  }
}

.pagination {
  @include span-columns(12 of 12);
  text-align: center;
}
