.blog .header {
    @include span-columns(12 of 12);

    img {
        height: 200px;
        display: block;
        margin: 40px auto 20px auto;
    }
}

.blog .posts {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 50px;
    margin-bottom: 100px;

    text-align: center;

    p {
        text-align: justify;
    }

    @include media($mobile) {
        @include span-columns(10 of 12);
        @include shift(1);
    }

    @include media($tablet) {
        @include span-columns(8 of 12);
        @include shift(2);
    }
}

.blog .summary:first-child {
    padding-top: 0;
}

.blog .summary:last-child {
    border-bottom: none;
}

.blog .summary {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $separator-color;
}

.blog .post {
    @include span-columns(12 of 12);
    margin-top: 20px;

    a {
        color: #ff5371;
    }

    p, ul, h2, h3, h4, h5, pre, {
        display: block;
        margin: 20px auto;
    }

    h3, h4, h5 {
        width: 45%;

        @include media($tablet) {
            width: 70%;
        }

        @include media($mobile) {
            width: 80%;
        }
    }

    p, ul, h2, pre {
        width: 50%;

        @include media($tablet) {
            width: 75%;
        }

        @include media($mobile) {
            width: 83.33%;
        }
    }

    h2 {
        margin-top: 50px;
    }

    img {
        max-width: 120%;
        margin-left: -10%;
    }

    .date, .author {
        text-align: center;
        width: 100%;
    }

    .author {
        margin-bottom: 10px;
    }

    pre {
        background-color: #333;
        padding: 10px;
    }

    p > code {
        background-color: rgba(255, 53, 71, 0.1);
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 1px;
    }
}

.blog .footer {
    @include span-columns(12 of 12);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.date {
    color: lighten($dark-color, 30);
}

.empty {
    text-align: center;
}
