.client-case-studies {
	@include span-columns(12 of 12);
	margin-top: 40px;
	margin-bottom: 40px;

	.case-study {
		@include span-columns(8 of 12);
		@include shift(2);
		color: $dark-color;
		.logo {
			@include span-columns(2 of 8);

			img {
				display: block;
				width: 200px;
				height: 200px;
				margin: 0 auto;
			}
		}
		.title {
			margin-top: 0;
			font-size: 2.2em;
		}
		.description {
			@include span-columns(5 of 8);
			margin-bottom: 0px;
			a {
				color: $dark-link-color;
				display: block;
			}
		}
		.links {
			@include span-columns(5 of 8);
	    	list-style-type: none;
	    	padding: 0;

	    	a {
				color: $dark-color;
				display: block;
			}
			img {
				display: inline;
				height: 20px;
				padding-top: 2px;
			}
		}
	}
}
