.contact-form {
	@include span-columns(4 of 12);
	@include shift(4);
	margin-top: 40px;
	margin-bottom: 40px;

	@include media($desktop) {
		@include span-columns(6 of 12);
		@include shift(3);
	}

	@include media($tablet) {
		@include span-columns(6 of 12);
		@include shift(3);
	}

	@include media($mobile) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	.field {
		p {
	    	color: $dark-color;
	    	margin: 10px 0 3px 0;
	    	font-size: 1.4em;
	    }

	    .aj-input {
	    	width: 100%;
	    	min-height: 40px;
	    	background: $form-background;
	    	border-radius: 5px;
				border: 1px solid #979797
	    }
	}

	.button {
		background: $light-color;
		text-align: center;
		margin: 15px auto 0 auto;
		display: block;
	}
}
