.home .header {
	@include span-columns(12 of 12);
	min-height: 650px;
	height: 100%;
	padding: 100px;
	margin-right: 0;
	position: relative;
	@include brand-gradient;
	text-align: center;

	@include media($mobile) {
		padding: 10px;
	}

	.logo {
	  display: block;
		margin: 0 auto;
		width: 310px;
		height: 310px;

		@include media($mobile) {
			margin-top: 80px;
		}
	}

	.statement {
		margin-top: 60px;
		color: $light-color;
		margin-left: 40px;
		margin-right: 40px;

		@include media($mobile) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.down {
		position: absolute;
		bottom: 50px;
		display: inline-block;
		text-align: center;

		img {
			position: absolute;
			width: 44px;
			left: -22px;
		}
	}
}

.section {
	@include span-columns(8 of 12);
	@include shift(2);
	padding: 50px 0;

	@include media($desktop) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	@include media($tablet) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	@include media($mobile) {
		@include span-columns(12 of 12);
		@include shift(0);
	}

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}
}

.person {
	@include span-columns(10 of 12);
	@include shift(1);
	margin-bottom: 50px;

	.image {
		@include span-columns(3 of 8);
		float: left;

		img {
			display: block;
			width: 230px;
			max-width: 100%;
			margin: 0 auto;
			border-radius: 115px;
		}
	}

	.image.odd {
		float: right;
	}

	.description {
		@include span-columns(5 of 8);

		a {
			display: block;
		}
	}

	.name {
		margin-top: 0;
		font-size: 2.2em;
	}

	.social {
		@include span-columns(12 of 12);
		display: block;
		margin-bottom: 5px;

		img {
			display: inline-block;
			width: 21px;
			margin-right: 5px;
			vertical-align: middle;
		}

		a {
			display: inline-block;
		}
	}

	@include media($mobile) {
		.image {
			float: none;
			@include span-columns(10 of 12);
			@include shift(1);
		}

		.description {
			@include span-columns(10 of 12);
			@include shift(1);
			text-align: justify;
		}

		.name {
			margin-top: 20px;
			margin-bottom: 0;
			text-align: center;
		}
	}
}

.what-we-make {
	@include span-columns(12 of 12);
	background-color: $dark-color;
	color: $light-color;

	p {
		@include span-columns(8 of 12);
		@include shift(2);
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.nav {
		@include span-columns(12 of 12);
		margin: 30px 0 60px 0;
		text-align: center;

		.button {
			margin-right: 40px;

			@include media($mobile) {
				@include span-columns(8 of 12);
				@include shift(2);
				margin-bottom: 15px;
			}
		}

		.button:last-child {
			margin-right: 0;

			@include media($mobile) {
				margin-bottom: 0;
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;
		width: 380px;
		max-width: 90%;
	}
}

.open-and-transparent {
	@include span-columns(12 of 12);

	p {
		@include span-columns(8 of 12);
		@include shift(2);
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.nav {
		@include span-columns(12 of 12);
		margin: 30px 0 60px 0;
		text-align: center;

		.button {
			margin-right: 40px;

			@include media($mobile) {
				@include span-columns(8 of 12);
				@include shift(2);
				margin-bottom: 15px;
			}
		}

		.button:last-child {
			margin-right: 0;

			@include media($mobile) {
				margin-bottom: 0;
			}
		}
	}
}
