---
layout: blog
showSubscription: true
---

<!-- Posts -->
<div class="posts">
  {% for post in paginator.posts %}
  {% assign author = site.data.team | where: "id", post.author_id | first %}
  <div class="summary">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="author">By <a href="http://twitter.com/{{author.twitter}}">{{ author.name }}</a></span>
    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
    <div class="excerpt">
      {{ post.excerpt }}
    </div>
  </div>
  {% endfor %}

  {% unless paginator.posts %}
  <div class="empty">
    <h3>No posts here yet</h3>
    <p>Check back soon!</p>
  </div>
  {% endunless %}
</div>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
