---
layout: page
title: Client Case Studies
---
<div class="client-case-studies">
	{% for project in site.data.clients %}
		<div class="case-study">
			<h2 class="title">{{ project.name }}</h2>
			<img src="/images/{{project.logo}}" class="logo"/>
			<p class="description">{{ project.description }}</p>
			<ul class="links">
				{% if project.url %}
					<li><a href="{{ project.url }}">{{ project.url }}</a></li>
				{% endif %}
				{% if project.itunes %}
					<li><a href="{{ project.itunes }}">{{ project.itunes }}</a></li>
				{% endif %}
				{% if project.play %}
					<li><a href="{{ project.play }}">{{ project.play }}</a></li>
				{% endif %}
			</ul>
		</div>
	{% endfor %}
</div>

<div class="pre-footer">
	<div class="content">
		<h2 class="title">or checkout our own projects</h2>
		<p>We've developed a range of products for web and mobile, check them out and hopefully you'll find something useful.</p>
		<img src="/images/joystick.png">
	</div>
</div>
