---
layout: page
title: Client Case Studies
---
<div class="client-case-studies">
	{% for project in site.data.clients %}
		<div class="case-study">
			<h2 class="title">{{ project.name }}</h2>
			<img src="/images/{{project.logo}}" class="logo"/>
			<p class="description">{{ project.description }}</p>
			<ul class="links">
				{% if project.url %}
					<li><a href="{{ project.url }}"><img src="/images/web-icon.svg"> Homepage</a></li>
				{% endif %}
				{% if project.itunes %}
					<li><a href="{{ project.itunes }}"><img src="/images/itunes-icon.svg"> iTunes App Store</a></li>
				{% endif %}
				{% if project.play %}
					<li><a href="{{ project.play }}"><img src="/images/android-icon.svg"> Google Play Store</a></li>
				{% endif %}
			</ul>
		</div>
	{% endfor %}
</div>

<div class="pre-footer">
	<div class="content">
		<h2 class="title">Or have a look at our products</h2>
		<p>At Add Jam we develop a range of products internally for web and mobile, check them out and hopefully you'll find something useful.</p>
		<a href="{{ site.data.links.product }}" class="light button">Our Products</a>
		<img src="/images/joystick.svg">
	</div>
</div>
