---
layout: page
title: Client Case Studies
---
<div class="client-case-studies">
	{% for project in site.data.clients %}
		<div class="case-study">
			<a href="{{ project.case-study-url }}">
				<img class="image" src="{{ project.banner }}">
				<img class="image" src="{{ project.image }}">
			</a>
			<div class="download-links">
				{% if project.url %}
					<a href="{{ project.url }}" class="button">Homepage</a>
				{% endif %}
				{% if project.itunes %}
					<a href="{{ project.itunes }}" class="button">App Store</a>
				{% endif %}
				{% if project.play %}
					<a href="{{ project.play }}" class="button">Play Store</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

<div class="pre-footer">
	<div class="content">
		<h2 class="title">Or have a look at our products</h2>
		<p>At Add Jam we develop our own IP for web and mobile, check out our products out and hopefully you'll find something useful.</p>
		<a href="{{ site.data.links.product }}" class="light button">Our Products</a>
		<img src="/images/joystick.svg">
	</div>
</div>
